*{
    padding: 0%;
    margin: 0%;
    box-sizing:border-box;
    /* display: flex; */
}





/* header */

header{
    height: 12vh;
    justify-items: center;
    padding-top: 1vh;
}

.tituloh3{
    margin-top: 1vh;
    background-color: white;
    justify-items: center;
    align-content: center;
    justify-self: center;
    width: 95%;
    height: 8vh;
    font-size: 4vh;
    box-shadow: 0.5vh 0.5vh 7vh 1vh;
    border-radius: 3vh;
}


/* body */
body{
    background-image: url("../imagenes/Cambiar\ contraseña.webp");
    background-repeat: no-repeat;
    background-position-x:50% ;
    background-position-y: -9vh ;
    background-size: cover;
    height:100%;
}



.cont_form{
    display: flex;
    justify-content:space-between ;
    align-items: center;
    justify-content: center;
    align-self: center;
    height: 69vh;
}

.inputs{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-self: center;
    width: 60%;
    height: 80%;
    margin: 4vh;
    background-color: #ddd7ff;
    box-shadow: 1vh 1vh 2vh;
}

.input1{
    display: flex;
    margin: 2vh;
    height: 7vh;
    width: 90%;
    justify-content: center;
    align-items: center;
    border: transparent;
}

.input1:hover{
    background-color: rgb(198, 198, 198);
}

.input2{
    display: flex;
    margin: 2vh;
    height: 7vh;
    width: 90%;
    justify-content: center;
    align-items: center;
    border: transparent;
}

.input2:hover{
    background-color: rgb(198, 198, 198);
}

.input3{
    display: flex;
    margin: 2vh;
    height: 7vh;
    width: 90%;
    justify-content: center;
    align-items: center;
    border: transparent;
}

.input3:hover{
    background-color: rgb(198, 198, 198);
}

.buttons{
    display: inline-flex;
    justify-content: space-evenly;
    flex-direction: column;
    align-items: center;
    /* align-content: center; */
    width: 40%;
    height: 80%;
    margin: 4vh;
    background-color: #ddd7ff;
    box-shadow: 1vh 1vh 2vh;
    border-radius: 1vh;
}

.buton1{
    display: flex;
    margin: 2vh;
    height: 7vh;
    width: 90%;
    justify-content: center;
    align-items: center;
    border: transparent;
    border-radius:2vh ;
    font-size: 2vh;
}

.buton2{
    display: flex;
    margin: 2vh;
    height: 7vh;
    width: 90%;
    justify-content: center;
    align-items: center;
    border: transparent;
    border-radius:2vh ;
    font-size: 2vh;
}

.buton1:hover{
    background-color: rgb(255, 148, 255) ;
    font-size: 3vh;
    height: 10vh;
}

.buton2:hover{
    background-color: rgb(255, 148, 255);
    font-size: 3vh;
    height: 10vh;
}

.elh5{
    justify-content: center;
    align-content: center;
    align-items: center;
    justify-items: center;
    text-align: center;
    height: 10vh;
    font-size: larger;
    text-decoration:underline;
}

/* footer */

/* footer{
    height: 15vh;
    justify-items: center;
    align-content: center;
}

.elfooter{
    background-color: rgb(255, 255, 255);
    justify-items: center;
    align-content: center;
    margin-top: 9.5vh;
    width: 100%;
    height: 70%;
} */
