*{
    padding: 0%;
    margin: 0%;
    box-sizing:border-box;
    /* display: flex; */
}





/* header */

header{

    height: 10vh;
    justify-items: center;
}

.tituloh3{
    margin-top: 1vh;
    background-color: white;
    justify-items: center;
    align-content: center;
    width: 95%;
    height: 8vh;
    font-size: 4vh;
    box-shadow: 0.5vh 0.5vh 7vh 1vh;
    border-radius: 3vh;
}


/* body */
body{
    background: #ffd678;
    background: linear-gradient(90deg, rgba(255, 214, 120, 1) 0%, rgba(255, 166, 115, 1) 44%, rgba(252, 93, 93, 1) 100%);
    background-repeat: repeat;
    height:100%;
}




/* .formulario{
    width: 100%;
    height: 40vh;
    flex-direction: row;
} */

.cont_form{
    display: flex;
    justify-content:space-between ;
    align-items: center;
    justify-content: center;
    align-self: center;
    height: 69vh;
}

.inputs{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-self: center;
    width: 60%;
    height: 80%;
    margin: 4vh;
    background-color: #ddd7ff;
    box-shadow: 1vh 1vh 2vh;
}

.input1{
    display: flex;
    margin: 2vh;
    height: 7vh;
    width: 90%;
    justify-content: center;
    align-items: center;
    border: transparent;
}

.input1:hover{
    background-color: rgb(198, 198, 198);
}

.input2{
    display: flex;
    margin: 2vh;
    height: 7vh;
    width: 90%;
    justify-content: center;
    align-items: center;
    border: transparent;
}

.input2:hover{
    background-color: rgb(198, 198, 198);
}

.input3{
    display: flex;
    margin: 2vh;
    height: 7vh;
    width: 90%;
    justify-content: center;
    align-items: center;
    border: transparent;
}

.input3:hover{
    background-color: rgb(198, 198, 198);
}

.buttons{
    display: inline-flex;
    justify-content: space-around;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-self: center;
    width: 40%;
    height: 80%;
    margin: 4vh;
    background-color: #ddd7ff;
    box-shadow: 1vh 1vh 2vh;
    border-radius: 1vh;
}

.buton1{
    display: flex;
    margin: 2vh;
    height: 7vh;
    width: 90%;
    justify-content: center;
    align-items: center;
    border: transparent;
    border-radius:2vh ;
    font-size: 2vh;
}

.buton2{
    display: flex;
    margin: 2vh;
    height: 7vh;
    width: 90%;
    justify-content: center;
    align-items: center;
    border: transparent;
    border-radius:2vh ;
    font-size: 2vh;
}

.buton1:hover{
    background-color: rgb(255, 148, 255) ;
    font-size: 3vh;
}

.buton2:hover{
    background-color: rgb(255, 148, 255);
    font-size: 3vh;
}

/* footer */

footer{
    height: 15vh;
    justify-items: center;
    align-content: center;
}

.elfooter{
    background-color: rgb(255, 255, 255);
    justify-items: center;
    align-content: center;
    margin-top: 9.5vh;
    width: 100%;
    height: 70%;
}