<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action="/recibir" method="POST">
        <h3>ingrese la ID a actualizar</h3>
        <input type="text" name="id" placeholder="ingrese id identifcativa">
        <input type="text" name="nombre" placeholder="ingrese nuevo username">
        <input type="text" name="contrasen" placeholder="ingrese nueva contraseña" >
        <button type= "submit" name="action" value="update">haga click para actualizar</button>
        <button type= "submit" name="action" value="delete">haga click para borrar

    </form>
</body>
</html>