<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/css/estilosapp.css">
    <script src="https://kit.fontawesome.com/54512c69d2.js" crossorigin="anonymous"></script>
    <title>Formulario</title>
</head>
<body>
    <div class="contieneh1">
        <h1>Enviar datos</h1>
    </div>
    <!-- esto permite enviar el "post" que necesita el app.py para ejecutar el ingreso a la base de datos de mysql -->
    <form action="/recibir" method="POST">                                      
        <input class="nombre" type="text" name="nombre" placeholder="Tu nombre" id="">
        <input class="pass" type="password" name="contrasen" placeholder="Tu contraseña" id="">
        <button id="referenciacentral" class="elboton" name="action" value="create"><b>Insertar</b> <i class="fa-solid fa-file-import"></i>
        <button id="referencia1" class="elboton" name="action" value="read"><b>Ver datos</b> <i class="fa-solid fa-database"></i>
        <button id="referencia2" class="elboton" name="action" value="update"><b>¿Desea actualizar datos?</b> <i class="fa-solid fa-pen-nib"></i>
        <button id="referencia3" class="elboton" name="action" value="delete"><b>¿Desea eliminar datos?</b> <i class="fa-solid fa-trash-can"></i>
    </form>

</body>
</html>