<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/css/verdatos.css">
    <title>Document</title>
</head>
<body>
    <h1 style="text-align:center;">Lista de Usuarios</h1>
    
    <table>
        <thead>
            <tr>
                <th>ID</th>
                <th>Nombre</th>
                <th>Correo</th>
                <th>Contraseña</th>
                <!-- Agrega más columnas si tu tabla tiene más campos -->
            </tr>
        </thead>
        <tbody>
            {% for usuario in usuarios %}
            <!-- jinja utiliza esto para meter python en html -->
            <tr>
                <!-- jinja utiliza todo esto para meterse a la "lista" que genera mysql -->
                <td>{{ usuario[0] }}</td>                
                <td>{{ usuario[1] }}</td>       
                <td>{{ usuario[2] }}</td>       
                <td>{{ usuario[3] }}</td>       
            </tr>
            {% endfor %}
            <!-- jinja usa esto para terminar el for dentro de html -->
        </tbody>
    </table>
</body>
</html>